{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
<!--{% if notes.cover %}-->
<!--<img src="{{ notes.cover.url }}" class="card-img-top" alt="...">-->
<!--{% endif %}-->


    <h1 style="padding-bottom: 20px">{{ note.title }}</h1>
    <h5>{{ note.note | safe }}</h5>
    <p style="font-size: small">{{ note.date_created }}</p>

{% if note.author == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note_update' note.id %}">Edit</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'note_delete' note.id %}?next=/notes/">Delete</a>


</div>
{% endif %}

{% endblock %}