{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
<!--{% if notes.cover %}-->
<!--<img src="{{ notes.cover.url }}" class="card-img-top" alt="...">-->
<!--{% endif %}-->


    <h1>{{ note.title }}</h1>
    <h3 style="color:#ff1a1a">{{ note.note | safe }}</h3>
    <h5>{{ note.date_created }}</h5>

{% if note.author == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note_update' note.id %}">Edit</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'note_delete' note.id %}">Delete</a>


</div>
{% endif %}

{% endblock %}